*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: grey;
    overflow-x: hidden;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.container {
    max-width: 768px;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    background: black;
    padding: 20px 20px 44px;
    position: relative;
}

.header-title {
    color: #FFF;
    font-family: Forum, serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.6px;
    margin-right: 316px;
    min-width: 300px;
}

.icon-profile {
    margin-right: 40px;
}

.menu-toggle {
    position: relative;
    width: 45px;
    height: 20px;
    display: block;
    cursor: pointer;
}

.menu-toggle__line,
.menu-toggle__line:nth-child(2),
.menu-toggle__line:nth-child(3) {
    height: 2px;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: white;
    margin: 0 auto;
    transition: all 0.3s ease;
}

.menu-toggle__line:nth-child(2) {
    top: 10px;
}

.menu-toggle__line:nth-child(3) {
    top: 20px;
}

.navigation {
    display: block;
    color: white;
    position: absolute;
    top: 100px;
    right: -100%;
    background-color: black;
    padding: 41px 107px 100px;
    transition: right 0.4s ease;
}

.navigation.active {
    right: 0px;
}

.nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.list-item-link {
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
}

main {
    display: flex;
    flex-direction: column;
}

.welcome {
    min-height: 570px;
    background-image: linear-gradient(to bottom, #0c0c0e 0%, rgba(18, 18, 21, 0.00) 50%), url(./images/welcome-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.text-welcome {
    color: #FFF;
    font-family: Forum, serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 11px 40px 30px;
    background-color: black;
    text-align: center;
    min-width: 600px;
    min-height: 200px;
    margin: 220px 168px 160px 0px;
}

/* Секция About */
.about {
    min-height: 862px;
    background-color: #FFF;
    padding: 20px 77px 40px;
}

.about-header,
.favourites-header,
.coffeeShop-header,
.contacts-header,
.library-card-header {
    text-align: center;
    color: #0C0C0E;
    font-family: Forum, serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-top: 37px;
    margin: 0;
    margin-bottom: 37px;
    padding: 0;
}

.about-header::after {
    content: '';
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 1px;
    background: #0C0C0E;
    margin-top: 20px;
}

.about-text {
    margin-top: 35px;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
}

.left-arrow {
    display: block;
    margin-left: 0px;
    margin-top: 310px;
}

.slide {
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 0;
}

.about-images {
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin-top: -335px;
    justify-content: center;
}

/* Активный слайд */
.about-images img.slide.active {
    opacity: 1;
    transform: translateX(0);
    z-index: 2;
}

/* Следующий слайд (справа) */
.about-images img.slide.next {
    transform: translateX(100%);
}

/* Предыдущий слайд (слева) */
.about-images img.slide.prev {
    transform: translateX(-100%);
}

.right-arrow {
    display: block;
    margin-left: 580px;
    margin-top: -282px;
}

.pagination-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 254px;
}

.button-wrapper {
    width: 26px;
    height: 26px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.slide.active {
    display: block;
    opacity: 1;
}

.slider-arrow {
    cursor: pointer;
    background: none;
    border: none;
    padding: 10px;
}

.slider-arrow:hover svg path {
    stroke: #BB945F;
    /* Изменение цвета при наведении */
}

.pagination-button {
    width: 16px;
    height: 16px;
    background-color: #0C0C0E;
    border-radius: 50%;
}

.pagination-button.current {
    background-color: #BB945F;
}

/* Favourites section */
.favourites {
    min-height: 2629px;
    background-color: #FFF;
    padding: 0 20px;
}

.favourites-header {
    margin-top: 15px;
}

.favourites-header::after {
    content: '';
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 1px;
    background: #0C0C0E;
    margin-top: 20px;
}

.fav-paragraph {
    color: black;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 40px;
}

.seasons {
    color: #000;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    gap: 90px;
    margin-top: 42px;
}

.seasons-input {
    accent-color: black;
    width: 15px;
    height: 15px;
    margin-left: 0px;
    font-weight: 700;
}

.seasons-label span {
    padding-left: 20px;
}

.winter-books-list {
    margin: 40px 69px 40px 69px;
    max-width: 550px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.winter-books {
    border: 1px solid #000;
    background: #FFF;
    position: sticky;
    z-index: 1;
    position: relative;
    min-height: 555px;
}

.staff-picks {
    color: #000;
    font-family: Forum, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-top: 12px;
    margin-left: 20px;
}

.staff-picks:after {
    content: '';
    background-color: #BB945F;
    width: 55px;
    height: 1px;
    display: block;
}

.winter-books-header {
    color: #000;
    font-family: Inter, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 19px;
    margin-left: 20px;
}

.winter-books-author {
    color: #000;
    font-family: Inter, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-left: 20px;
}

.winter-books-description {
    color: #000;
    font-family: Inter, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    width: 355px;
    margin-left: 20px;
    margin-top: 20px;
}

.winter-books-image {
    position: absolute;
    bottom: 0px;
    right: -41px;
    z-index: 2;
}

.favourites-button {
    width: 75px;
    height: 30px;
    position: absolute;
    left: 20px;
    bottom: 16px;
    background-color: #FFF;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    color: #0C0C0E;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
}

/* Coffee Shop section */
.coffeeShop {
    min-height: 1481px;
    background-color: #FFF;
    padding: 15px 20px 40px;
}

.coffeeShop-header::after {
    content: '';
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 1px;
    background: #0C0C0E;
    margin-top: 20px;
}

.coffeeShop-text {
    color: #000;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    margin-bottom: 39px;
    ;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 40px;
    min-height: 1080px;
}

.menu-category {
    min-width: 438px;
    min-height: 520px;
    display: flex;
    flex-direction: column;
}

.menu-category-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0;
    padding: 0;
}

.category-list-item {
    min-height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.header-drinks,
.header-desserts {
    color: #BB945F;
    font-family: Forum, serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin: 0;
    padding: 0;
}

.drink {
    color: #000;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin: 0;
    padding: 0;
}

.drink::after {
    content: '';
    width: 100px;
    background-color: #BB945F;
    height: 1px;
    display: block;
    margin-top: -20px;
    margin-left: 256px;
}

.drink-price {
    color: #000;
    font-family: Forum, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin: 0;
    padding: 0;
}

.drinks {
    align-self: flex-start;
}

.desserts {
    align-self: flex-end;
}

/* Section Contacts */
.contacts {
    min-height: 1055px;
    background-color: #FFF;
    padding: 0px 20px 40px;
}

.contacts-header {
    margin-top: 11px;
}

.contacts-header::after {
    content: '';
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 1px;
    background: #0C0C0E;
    margin-top: 20px;
}

.contacts-wrapper {
    display: flex;
    flex-direction: column;
    gap: 100px;
    min-height: 894px;
}

.contacts-text-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    min-height: 380px;
}

.contacts-text-list {
    color: #000;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.contacts-text-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Section Library Card Form */
.library-card-header {
    margin-top: 10px;
}

.library-card-header::after {
    content: '';
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 1px;
    background: #0C0C0E;
    margin-top: 20px;
}

.library-card {
    min-height: 857px;
    background-color: #FFF;
    padding: 0px 20px 40px;
    border: 0;
}

.library-card-form fieldset {
    border: 0;
}

.library-form-header {
    color: #000;
    font-family: Inter, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
    text-align: center;
    margin-bottom: 30px;
}

.form-content {
    width: 600px;
    min-height: 387px;
    border: 3px solid #BB945F;
    background: #FFF;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.form-content-fields {
    min-width: 560px;
    min-height: 272px;
    background: #BB945F;
    padding: 20px;
}

.form-content-header {
    color: #000;
    font-family: Forum, serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.6px;
    margin-bottom: 20px;
}

.readers-name,
.card-number {
    width: 520px;
    height: 66px;
    border-radius: 10px;
    background: #FFF;
    border: none;
}

::placeholder {
    color: #8E8E8E;
    font-family: Forum, serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.6px;
    padding-left: 20px;
}

.card-number {
    margin-top: 25px;
}

.check-card {
    width: 242px;
    height: 44px;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    color: #0C0C0E;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    margin-top: 43px;
    margin-left: 140px;
}

.get-a-card-header {
    color: #000;
    font-family: Forum, serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 40px;
}

.get-a-card-text {
    color: #000;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.4px;
    margin-bottom: 40px;
}

.get-a-card-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.get-a-card-sign-up,
.get-a-card-log-in {
    border: 1px solid #0c0c0e;
    padding: 9px;
    min-width: 70px;
    min-height: 30px;
    box-sizing: border-box;
}

/* Footer */
footer {
    min-height: 250px;
    background-color: #0C0C0E;
    display: flex;
    flex-direction: column;
    padding: 20px 20px 44px;
}

.top-part-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-text {
    width: 229px;
    color: #FFF;
    font-family: Inter, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.top-part-footer .right-text {
    color: #FFF;
    text-align: right;
    font-family: Inter, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.library-address {
    text-decoration: none;
}


.middle-part-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.right-text2 {
    width: 149px;
    color: #FFF;
    text-align: right;
    font-family: Inter, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-top: -5px;
}

.footer-icons {
    display: flex;
    gap: 15px;
    margin-left: 0px;
}

.footer-icon {
    width: 24px;
    height: 24px;
    list-style-type: none;
}

hr {
    width: 728px;
    height: 1px;
    background: #FFF;
    margin-top: 20px;
}