*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.container {
    max-width: 768px;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    background: black;
    padding: 20px 20px 44px;
    position: relative;
}

.header-title {
    color: #FFF;
    font-family: Forum, serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.6px;
    margin-right: 320px;
    min-width: 300px;
}

.header-title:hover {
    color: #BB945F;
    cursor: pointer;
}

.navigation-list-full-screen {
    display: none;
}

/*Стили для иконки профиля*/
.profile-trigger {
    color: white;
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
}

.profile-trigger:hover {
    color: #BB945F;
}

.icon-profile {
    cursor: pointer;
}

/* Стиль для аватарки с инициалами */
.profile-initials {
    width: 28px;
    height: 28px;
    background-color: #0C0C0E;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 1;
    cursor: pointer;
    padding: 25px;
}

.menu-toggle {
    position: relative;
    width: 45px;
    height: 20px;
    display: block;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
}

.menu-toggle__line,
.menu-toggle__line:nth-child(2),
.menu-toggle__line:nth-child(3) {
    height: 2px;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: white;
    margin: 0 auto;
    transition: all 0.3s ease;
}

.menu-toggle:hover .menu-toggle__line {
    background: #BB945F;
}

/* Модальное окно профиля */
.modal-profile {
    display: none;
    background-color: #ffffff;
    min-height: 115px;
    min-width: 80px;
    position: absolute;
    padding: 5px 10px 20px;
    top: 30px;
    right: 80px;
}

.modal-profile-content {
    position: absolute;
    margin: 0 auto;
    top: 0px;
}

.modal-profile__close {
    position: absolute;
    right: -7px;
    top: 5px;
    cursor: pointer;
}

.profile-list-item:first-child {
    color: #000000;
    font-family: Inter-Bold, sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    margin-top: 15px;
    text-align: center;
}

.profile-list-item:first-child::after {
    content: '';
    display: block;
    width: 40px;
    height: 1px;
    background-color: #BB945F;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 15px;
}

.profile-list-item:nth-child(2) {
    margin-top: 15px;
    margin-bottom: 10px;
}

.profile-list-item:nth-child(2),
.profile-list-item:nth-child(3) {
    font-family: Inter, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}

.profile-list-link {
    cursor: pointer;
}

.profile-list-link:hover {
    color: #BB945F;
}

/* Модальное окно регистрации */
.modal-register {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    min-height: 382px;
    width: 250px;
    z-index: 1000;
}

.register-form {
    padding: 25px 20px;
}

.register-form-group {
    border: none;
    position: relative;
}

.register-close-button {
    position: absolute;
    top: -50px;
    right: 0px;
    cursor: pointer;
}

.register-form-header {
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    font-family: Forum, serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 20px;
}

.register-form-group label {
    display: block;
    font-family: Inter, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
}

.register-form-group input {
    border: 1px solid #BB945F;
    min-height: 20px;
    width: 200px;
    margin-top: 10px;
    padding: 5px 10px;
}

.signupButton {
    font-family: Inter Bold, sans-serif;
    font-size: 10px;
    font-weight: 700;
    color: #0C0C0E;
    border: 1px solid #0C0C0E;
    border-radius: 2px;
    min-height: 30px;
    width: 75px;
}

.login-text {
    font-family: Inter, sans-serif;
    font-size: 10px;
    margin-top: 10px;
}

.login-link {
    text-decoration: underline;
    font-family: Inter, sans-serif;
    font-size: 10px;
    font-weight: 700;
    color: #0C0C0E;
}

/* Модальное окно входа */
.modal-login {
    background-color: #ffffff;
    min-height: 262px;
    width: 250px;
    /* position: absolute;
    top: 30px;
    right: 80px; */
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.modal-login__close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

.login-form {
    padding: 25px 20px;
}

.login-form-group {
    border: none;
    position: relative;
}

.login-form-header {
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    font-family: Forum, serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 20px;
}

.login-form-group label {
    display: block;
    font-family: Inter, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
}

.login-form-group input {
    border: 1px solid #BB945F;
    min-height: 20px;
    width: 200px;
    margin-top: 10px;
    padding: 5px 10px;
}


.logInButton {
    font-family: Inter Bold, sans-serif;
    font-size: 10px;
    font-weight: 700;
    color: #0C0C0E;
    border: 1px solid #0C0C0E;
    border-radius: 2px;
    min-height: 30px;
    width: 75px;
}


.register-text {
    font-family: Inter, sans-serif;
    font-size: 10px;
    margin-top: 10px;
}

.register-link {
    text-decoration: underline;
    font-family: Inter, sans-serif;
    font-size: 10px;
    font-weight: 700;
    color: #0C0C0E;
}

/* Модальное окно: Личный кабинет читателя */
.modal-profile-cabinet {
    display: none;
    min-height: 400px;
    width: 600px;
    background-color: #ffffff;
    position: absolute;
    top: 30px;
    right: 80px;
}

.profile-cabinet-content {
    display: flex;
    flex-direction: row;
}

.profile-cabinet-close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

.profile-cabinet-leftSide {
    width: 170px;
    min-height: 400px;
    background-color: #0C0C0E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cabinet-initials {
    width: 80px;
    height: 80px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.cabinet-initials-text {
    color: #BB945F;
    font-family: Inter, sans-serif;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    display: block;
    margin: 0 auto;
}

.cabinet-initials-fullText {
    width: 120px;
    min-height: 30px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
}

.cabinet-initials-full {
    font-family: Inter, sans-serif;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    display: block;
    margin: 0 auto;
    color: #000000;
    padding: 20px;
}

.profile-cabinet-rightSide {
    padding: 40px 20px;
}

.cabinet-rightSide-header {
    color: #000000;
    font-size: 40px;
    line-height: 20px;
    font-family: Forum, serif;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.cabinet-stats {
    display: flex;
    gap: 20px;
    width: 237px;
    font-family: Inter, sans-serif;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    margin-bottom: 20px;
}

.cabinet-stats-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.stats-content-number {
    display: block;
    font-family: Inter, sans-serif;
    font-size: 10px;
    line-height: 20px;
    font-weight: 400;
}

.rented-books-title {
    font-family: Inter, sans-serif;
    font-size: 25px;
    line-height: 20px;
    font-weight: 400;
    margin-bottom: 30px;
}


.rented-books-list {
    list-style: disc;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: Inter, sans-serif;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    margin-left: 20px;
    margin-bottom: 40px;
}

.card-number-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.card-number-title {
    font-family: Inter, sans-serif;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
}

.card-number-id {
    font-family: Inter, sans-serif;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    color: #BB945F;
}

.card-number-icon {
    display: block;
}


/* Burger menu */
.menu-toggle__line:nth-child(2) {
    top: 10px;
}

.menu-toggle__line:nth-child(3) {
    top: 20px;
}

.menu-toggle__line:hover {
    cursor: pointer;
}

.navigation {
    display: block;
    color: white;
    position: absolute;
    top: 100px;
    right: -100%;
    background-color: black;
    padding: 41px 107px 100px;
    transition: right 0.4s ease;
}

.navigation.active {
    right: 30%;
}

.nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.list-item-link {
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
}

.list-item-link:hover {
    text-decoration: underline;
    color: #BB945F;
}

main {
    display: flex;
    flex-direction: column;
}

.welcome {
    min-height: 570px;
    max-width: 768px;
    margin: 0 auto;
    background-image: linear-gradient(to bottom, #0c0c0e 0%, rgba(18, 18, 21, 0.00) 50%), url(./images/welcome-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.text-welcome {
    color: #FFF;
    font-family: Forum, serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 11px 40px 30px;
    background-color: black;
    text-align: center;
    min-width: 600px;
    min-height: 200px;
    margin: 220px 168px 160px 0px;
}

/* Секция About */
.about {
    min-height: 862px;
    max-width: 768px;
    margin: 0 auto;
    background-color: #FFF;
    padding: 20px 77px 40px;
}

.about-header,
.favourites-header,
.coffeeShop-header,
.contacts-header,
.library-card-header {
    text-align: center;
    color: #0C0C0E;
    font-family: Forum, serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-top: 37px;
    margin: 0;
    margin-bottom: 37px;
    padding: 0;
}

.about-header::after {
    content: '';
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 1px;
    background: #0C0C0E;
    margin-top: 20px;
}

.about-text {
    margin-top: 35px;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
}

.left-arrow {
    display: block;
    margin-left: 0px;
    margin-top: 310px;
}

.slide {
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 0;
}

.about-images {
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin-top: -335px;
    justify-content: center;
}

/* Активный слайд */
.about-images img.slide.active {
    opacity: 1;
    transform: translateX(0);
    z-index: 2;
}

/* Следующий слайд (справа) */
.about-images img.slide.next {
    transform: translateX(100%);
}

/* Предыдущий слайд (слева) */
.about-images img.slide.prev {
    transform: translateX(-100%);
}

.right-arrow {
    display: block;
    margin-left: 580px;
    margin-top: -282px;
}

.pagination-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 254px;
}

.button-wrapper {
    width: 26px;
    height: 26px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.slide.active {
    display: block;
    opacity: 1;
}

.slider-arrow {
    cursor: pointer;
    background: none;
    border: none;
    padding: 10px;
}

.slider-arrow:hover svg path {
    stroke: #BB945F;
    /* Изменение цвета при наведении */
}

.pagination-button {
    width: 16px;
    height: 16px;
    background-color: #0C0C0E;
    border-radius: 50%;
}

.pagination-button.current {
    background-color: #BB945F;
}

/* Favourites section */
.favourites {
    min-height: 2629px;
    background-color: #FFF;
    padding: 0 20px;
    width: 768px;
    margin: 0 auto;
    position: relative;
}

.favourites>ul {
    position: absolute;
    top: 210px;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events: none;
}

.favourites>ul.active-season {
    opacity: 1;
    pointer-events: auto;
}

/* Скрытый список — невидим и не кликабелен */
.hidden {
    opacity: 0 !important;
    pointer-events: none !important;
    visibility: hidden !important;
}

.favourites-header {
    margin-top: 15px;
}

.favourites-header::after {
    content: '';
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 1px;
    background: #0C0C0E;
    margin-top: 20px;
}

.fav-paragraph {
    color: black;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 40px;
}

.seasons {
    color: #000;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    gap: 90px;
    margin-top: 42px;
}

.seasons-input {
    accent-color: black;
    width: 15px;
    height: 15px;
    margin-left: 0px;
    font-weight: 700;
}

.seasons-label span {
    padding-left: 13px;
    cursor: pointer;
}

.winter-books-list,
.spring-books-list,
.summer-books-list,
.autumn-books-list {
    margin: 40px 69px 40px 69px;
    max-width: 550px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.winter-books,
.spring-books,
.summer-books,
.autumn-books {
    border: 1px solid #000;
    background: #FFF;
    position: sticky;
    z-index: 1;
    position: relative;
    min-height: 555px;
}

.staff-picks {
    color: #000;
    font-family: Forum, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-top: 12px;
    margin-left: 20px;
}

.staff-picks:after {
    content: '';
    background-color: #BB945F;
    width: 55px;
    height: 1px;
    display: block;
}

.winter-books-header,
.spring-books-header,
.summer-books-header,
.autumn-books-header {
    color: #000;
    font-family: Inter, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 19px;
    margin-left: 20px;
}

.winter-books-author,
.spring-books-author,
.summer-books-author,
.autumn-books-author {
    color: #000;
    font-family: Inter, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-left: 20px;
}

.winter-books-description,
.spring-books-description,
.summer-books-description,
.autumn-books-description {
    color: #000;
    font-family: Inter, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    width: 355px;
    margin-left: 20px;
    margin-top: 20px;
}

.winter-books-image,
.spring-books-image,
.summer-books-image,
.autumn-books-image {
    position: absolute;
    bottom: 0px;
    right: -41px;
    z-index: 2;
}

.favourites-button {
    width: 75px;
    height: 30px;
    position: absolute;
    left: 20px;
    bottom: 16px;
    background-color: #FFF;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    color: #0C0C0E;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
}

.favourites-button:hover {
    background-color: #BB945F;
}

/* Coffee Shop section */
.coffeeShop {
    min-height: 1481px;
    background-color: #FFF;
    padding: 15px 20px 40px;
    max-width: 768px;
    margin: 0 auto;
}

.coffeeShop-header::after {
    content: '';
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 1px;
    background: #0C0C0E;
    margin-top: 20px;
}

.coffeeShop-text {
    color: #000;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    margin-bottom: 39px;
    ;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 40px;
    min-height: 1080px;
}

.menu-category {
    min-width: 438px;
    min-height: 520px;
    display: flex;
    flex-direction: column;
}

.menu-category-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0;
    padding: 0;
}

.category-list-item {
    min-height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.header-drinks,
.header-desserts {
    color: #BB945F;
    font-family: Forum, serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin: 0;
    padding: 0;
}

.drink {
    color: #000;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin: 0;
    padding: 0;
}

.drink::after {
    content: '';
    width: 100px;
    background-color: #BB945F;
    height: 1px;
    display: block;
    margin-top: -20px;
    margin-left: 256px;
}

.drink-price {
    color: #000;
    font-family: Forum, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin: 0;
    padding: 0;
}

.drinks {
    align-self: flex-start;
}

.desserts {
    align-self: flex-end;
}

/* Section Contacts */
.contacts {
    min-height: 1055px;
    background-color: #FFF;
    padding: 0px 50px 40px;
    max-width: 768px;
    margin: 0 auto;
}

.contacts-header {
    margin-top: 11px;
}

.contacts-header::after {
    content: '';
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 1px;
    background: #0C0C0E;
    margin-top: 20px;
}

.contacts-wrapper {
    display: flex;
    flex-direction: column;
    gap: 100px;
    min-height: 894px;
}

.contacts-text-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    min-height: 380px;
}

.contacts-text-list {
    color: #000;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.contacts-text-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contacts-map {
    background-image: url('./images/contacts-map.jpg');
    width: 696px;
    height: 414px;
}

/* Section Library Card Form */
.library-card-header {
    margin-top: 10px;
}

.library-card-header::after {
    content: '';
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 1px;
    background: #0C0C0E;
    margin-top: 20px;
}

.library-card {
    min-height: 857px;
    background-color: #FFF;
    padding: 0px 50px 40px;
    border: 0;
    max-width: 768px;
    margin: 0 auto;
}

.library-card-form fieldset {
    border: 0;
}

.library-form-header {
    color: #000;
    font-family: Inter, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
    text-align: center;
    margin-bottom: 30px;
}

.form-content {
    width: 600px;
    min-height: 387px;
    border: 3px solid #BB945F;
    background: #FFF;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.form-content-fields {
    min-width: 560px;
    min-height: 272px;
    background: #BB945F;
    padding: 20px;
}

.form-content-header {
    color: #000;
    font-family: Forum, serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.6px;
    margin-bottom: 20px;
}

.readers-name,
.card-number {
    width: 520px;
    height: 66px;
    border-radius: 10px;
    background: #FFF;
    border: none;
    color: #8E8E8E;
    font-family: Forum, serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.6px;
    padding-left: 20px;
}

::placeholder {
    color: #8E8E8E;
    font-family: Forum, serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.6px;
    padding-left: 20px;
}

.card-number {
    margin-top: 25px;
}

.check-card {
    width: 242px;
    height: 44px;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    color: #0C0C0E;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    margin-top: 43px;
    margin-left: 140px;
}

.check-card:hover {
    background-color: #ffffff
}

.get-a-card-header {
    color: #000;
    font-family: Forum, serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 40px;
}

.get-a-card-text {
    color: #000;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.4px;
    margin-bottom: 40px;
}

.get-a-card-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.get-a-card-sign-up,
.get-a-card-log-in {
    border: 1px solid #0c0c0e;
    padding: 9px;
    min-width: 70px;
    min-height: 30px;
    box-sizing: border-box;
}

.get-a-card-sign-up:hover,
.get-a-card-log-in:hover {
    background-color: #BB945F;
}

/* Footer */
footer {
    min-height: 250px;
    background-color: #0C0C0E;
    display: flex;
    flex-direction: column;
    padding: 20px 20px 44px;
    max-width: 768px;
    margin: 0 auto;
}

.top-part-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-text {
    width: 229px;
    color: #FFF;
    font-family: Inter, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.top-part-footer .right-text {
    color: #FFF;
    text-align: right;
    font-family: Inter, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.library-address {
    text-decoration: none;
}


.middle-part-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.right-text2 {
    width: 149px;
    color: #FFF;
    text-align: right;
    font-family: Inter, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-top: -5px;
}

.footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-left: 0px;
}

.footer-icon {
    width: 24px;
    height: 24px;
    list-style-type: none;
}


.footer-icon {
    color: #F5EFDB
}

.footer-icon:hover {
    color: #BB945F
}

hr {
    width: 728px;
    height: 1px;
    background: #FFF;
    margin-top: 20px;
}




/* Для плавной анимации */
.winter-books-list,
.spring-books-list,
.summer-books-list,
.autumn-books-list {
    opacity: 1;
    transition: opacity 0.5s ease;
}

/* Чтобы скрытые блоки не занимали место во время анимации */
.visually-hidden {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

/*Для планшетов и компьютеров*/
@media (min-width: 800px) {
    .container {
        padding: 0 20px;
        max-width: 1480px;
        width: 100%;
        margin: 0 auto;
    }

    header {
        display: flex;
        align-items: flex-start;
        padding: 0 20px;
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
    }

    .header-title {
        margin-right: 390px;
    }

    .menu-toggle {
        display: none;
    }

    .navigation-list-full-screen {
        padding: 0;
        display: flex;
        justify-content: flex-start;
        gap: 30px;
        color: white;
        margin-right: 40px;
    }

    .profile-trigger {
        color: white;
        display: inline-block;
        margin-right: 10px;
        align-self: center
    }

    .welcome {
        padding: 0 20px;
        max-width: 1440px;
        min-height: 620px;
        width: 100%;

        background-image: linear-gradient(to bottom, #0c0c0e 0%, rgba(18, 18, 21, 0.00) 50%), url(./images/welcome-bg-big.jpg);
        margin: 0 auto;
    }

    .about {
        width: 100%;
        max-width: 1440px;
    }

    .right-arrow {
        display: block;
        margin-left: 1200px;
        margin-top: -282px;
    }

    .favourites {
        width: 100%;
        max-width: 1440px;
        min-height: 1680px;
    }

    .favourites>ul {
        min-width: 1400px;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 220px;
        margin-left: 20px;
    }

    .winter-books,
    .spring-books,
    .summer-books,
    .autumn-books {
        min-width: 550px;
    }

    .coffeeShop {
        width: 100%;
        max-width: 1440px;
        min-height: 840px;
    }

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        min-height: 560px;
    }

    .menu-category {
        min-width: 438px;
        min-height: 520px;
        display: flex;
        flex-direction: row;
    }

    .desserts {
        align-self: flex-start;
    }

    .contacts {
        width: 100%;
        max-width: 1440px;
        min-height: 575px;
    }

    .contacts-wrapper {
        display: flex;
        flex-direction: row;
        min-height: 0px;
    }

    .library-card {
        width: 100%;
        max-width: 1440px;
    }

    footer {
        width: 100%;
        max-width: 1440px;
    }

    hr {
        width: 100%;
    }
}